/* You can add global styles to this file, and also import other style files */
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.container{
  max-width: 1200px;
  margin:auto;
}

p {
  margin-bottom: 0;
}

.flex{
  display: flex;
  justify-content: space-between;
}
